{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load great_components %}
{% load code from demo_tags %}

{% block inner_content %}

<h1 class="h-xl">Banner</h1>
<h2 class="h-l">Cookie notice</h2>
<p>The cookie notice is displayed at the top of every page (clear your cookies if you already dismissed it). When dismissed it will set the cookie <code>hide_cookie_notice</code>. The JavaScript <code>dit.components.cookie-notice.js</code> will look for that cookie when the page loads. If it finds it, the cookie notice will not display. This JS requires jQuery to run. When JS is disabled in the browser the cookie notice will always be displayed.</p>

<h2 class="h-l w-2-3">Informative banner</h2>
<p class="w-2-3">A different style of informative banner that can be used to alert the user to potentially useful but not urgent information.</p>

{% informative_banner banner_label='Banner Label' banner_content='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="#">sed do eiusmod tempor incididunt </a> ut labore et dolore magna aliqua.</p>' %}

{% informative_banner banner_label='Banner Label' banner_content='<p>An informative banner with separate lines <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}

{% informative_banner banner_content='<p>An informative banner with separate lines <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}

{% code 'django' %}
  {% load informative_banner from great_components %}

  {% informative_banner banner_label='Banner Label' banner_content='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="#">sed do eiusmod tempor incididunt </a> ut labore et dolore magna aliqua.</p>' %}

  {% informative_banner banner_label='Banner Label' banner_content='<p>An informative banner with separate lines <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}

  {% informative_banner banner_content='<p>An informative banner with separate lines <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p><p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
{% endcode %}


{% endblock %}
