{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}
{% load code from demo_tags %}

{% block body_header %}
    {% include 'demo/includes/header.html' %}
{% endblock %}

{% block head_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/debug.js' %}"></script>
{% endblock %}

{% block head_css %}
    {% include 'demo/includes/styles.html' %}
{% endblock %}

{% block head_title %}great-components{% endblock %}

{% block body_content_container %}
<main id="content" class="index p-t-s p-b-xxl">
  {% block content %}
  <div class="container">
    {% block inner_content %}{% endblock %}
  </div>
  {% endblock %}
</main>

{% block content_after %}{% endblock %}

{% endblock %}

{% block body_footer %}
    {% include 'demo/includes/footer.html' %}
{% endblock %}
